/*I make a background image for making my sound board*/
Body { background-image: url(https://images.app.goo.gl/42T8UwbSWt2R2qmU8);
    display: flex;
    justify-self: center;
    background-color: rgb(65, 65, 65);
}

.board {
    display: grid;
    grid-template-rows: 175px 175px 175px;
    grid-template-columns: 175px 175px 175px;
}

.box {
    background-color: rgb(210, 76, 210);
    border: 5px solid rgb(65, 65, 65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 70px;
}

.box:active {
    background-color: rgb(65, 115, 145);
 
}