form{
    margin: 0 auto;
    width: 400 px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 16px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px
}

form li {
    margin-top: 16px;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
}