/* adding background color to the menu bar */
.menu{
    background-color: blue;
    overflow:hidden;
}
/* Style the link inside the menu bar*/
.menu a {
    float: right;
    color: rgb(255, 0, 200);
    text-align: century;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.menu a:hover{
    background-color: rgb(39, 235, 0);
    color: black;
}
/* Adding a color to the active/current link */
.menu a.active{
    background-color: darkcyan;
    color: white;
}

footer{
    margin-top:500
    background-color yellow;
}